body {

    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}



table {

    background-color: blueviolet;
    border: solid 4px white;
}

h5{
    text-align: center;
    font-size: 35px;
}